<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Gothons From Planet Percial #25</title>
  </head>
  <body>
    <header>
    </header>
    <%= yield %>
  </body>
</html>
