<%= display_error %>
<h1>This will be login page for Gothons From Planet Percivial</h1>
<p>Here you login into the game.</p>
<div>
    <form action="/login" method="post">
      User:<br>
      <input type="text" name="user[name]"><br>
      Password:<br>
      <input type="password" name="user[password]"><br>
      <input type="submit" value="Login into the game.">
    </form>
</div>
