<%= display_error %>
<h1>This will be singup form for Gothons From Planet Percivial</h1>
<p>Here you login into the game.</p>
<form action='/signup' method="post">
    User: <br>
    <input type="text" name="user[name]"><br>
    Password: <br>
    <input type="password" name="user[password]"><br>
    Password confirmation: <br>
    <input type="password" name="user[password_confirmation]"><br>
    <input type="submit" value="Signup">
</form>
