@import url(https://fonts.googleapis.com/css?family=Poiret+One);

* {
  font-family: 'Poiret One', serif;
}

h1 {
  color: white;
}

p {
  color: green;
  font-size: 18px;
}

body {
    background-color: black;
}
