/* css stylesheet for webpage */
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
* {
  font-family: 'Source Code Pro';
  color: #33cc33;
}

h1 {
  color: white;
}

p {
  font-size: 18px;
}

body {
    background-color: black;
}

form {
  color: white;
}

#photoshow {
  width: 100px;
  position: relative;
  height: 100px;
}

button {
  width: 10em;
}
